html, body {
height: 100%;
margin: ;
}


body {
 background-image: url("yamato_bg.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
text-align: center;
}

deskripsi{
max-width: 700px;
margin: 20px auto;}